<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{name}}</title>
</head>
<body>
  <div class="container">
    <h1>{{name}}</h1>
  <img src="{{image}}" >
  <p>
    <span class="bold" >Colour: </span>{{colour}}
  </p>
  <p>
    <span class="bold" >Loves:</span> {{loves}}
  </p>
  <p>
    <span class="bold" >Hates:</span> {{hates}}
  </p>
  <p>
    <span class="bold" >Story:</span> {{story}}
  </p>
  <p><a href="/">Back to Homepage</a></p>
  </div>
</body>
</html>